# Vivado generated
*.jou
*.log
*.str
*.wdb

*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/sources_1/bd/*/ip/
*.srcs/sources_1/ip/
*.srcs/sources_1/imports/
*.sdk/
*.Xil/

# outputs (方針で選ぶ)
*.bit
*.bin
*.ltx
*.dcp
*.rpt
*.xsa